@font-face {
	font-family: 'KoruriSub';
	src: url("../fonts/Koruri-subset_lindwurm.eot?") format('eot'),
	url("../fonts/Koruri-subset_lindwurm.woff") format('woff'),
	url("../fonts/Koruri-subset_lindwurm.ttf") format('truetype');
		
	/*  for Chrome  */
	src: url(../fonts/Koruri-subset_lindwurm.woff) format('woff'); 
}

body {
		font-family: KoruriSub !important;
}
