@font-face {
	font-family: 'KoruriSub';
	src: url("../fonts/Koruri-Regular-sub.eot?") format('eot'),
	url("../fonts/Koruri-Regular-sub.woff") format('woff'),
	url("../fonts/Koruri-Regular-sub.ttf") format('truetype');
		
	/*  for Chrome  */
	src: url(../fonts/Koruri-Regular-sub.woff) format('woff'); 
}

body {
		font-family: KoruriSub !important;
}
