@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* entypo */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.btn-xl,
.btn-group-xl > .btn {
  padding: 24px 24px;
  font-size: 42px;
  line-height: 1;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.btn-xlg,
.btn-group-xlg > .btn {
  padding: 50px 20px;
  font-size: 128px;
  line-height: 1;
  border-radius: 20%;
  width: 240px;
  height: 240px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.iconlg {
  font-size: 200px;
}

.modal.in {
   display:block;
}

.well {
  margin-top: 30px;
}

.top {
  margin-top: 20px;
}

/* btn-inverse */
.btn-inverse {
	color: #ffffff;
	background-color: #292929;
	border-color: #171717;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
	color: #ffffff;
	background-color: #292929;
	border-color: #171717;
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
	background-color: #292929;
	border-color: #1F1F1F;
}

.btn-inverse .badge {
	color: #292929;
	background-color: #fff;
}

*/

/*customized tooltip*/
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 18px; /*14px->18px*/
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip .in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip .top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip-inner {
  max-width: 200px;
  padding: 9px 24px; /*3px 8px -> 9px 24px*/
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #333333;
  border-radius: 0;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip .top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #333333;
}

