/* style */

.btn-xl,
.btn-group-xl > .btn {
  padding: 24px 24px;
  font-size: 42px;
  line-height: 1;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.btn-xlg,
.btn-group-xlg > .btn {
  padding: 48px 48px;
  font-size: 128px;
  line-height: 1;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.iconlg {
  font-size: 200px;
}

.modal.in {
   display:block;
}

.top {
  margin-top: 20px;
}

.title {
  font-size: 5em;
}
